a.list-group-item {
    font-size: 1.7em;
}

p {
	font-size: 1.2em;
}


.navbar-fixed-top {
    background-color:#fff
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover {
    -webkit-transition:background-color 700ms ease;
    background-color:#DAD8D8!important;
    color:#000
}

.header {
    padding: 150px 0px 100px 0px;
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #609EEA, #3A6367);
}

.name {
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
}

#dataTable {
    padding-top: 25px;
}
